header {
    text-align: center;
    background-color: #8fabcf; /* cor de fundo opcional */
    padding: 0;
    margin: 0;

}

.linha-laranja {
    height: 4px; /* altura da linha */
    background-color: orange;
    width: 100%; /* ocupar toda a largura */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.492);
}

.espaçamento{
    margin-top: 30px;
}

.titulo {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    background-color: #e3f2fd; /* azul claro */
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tabela-container {
    display: flex;
    gap: 25px; /* espaçamento entre tabelas */
    justify-content: center;
    flex-wrap: wrap; /* quebra para a linha de baixo se a tela for pequena */
}

table {
    border-collapse: separate;
    border-spacing: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.329);
    border-radius: 12px;
    overflow: hidden;
    width: 250px;
    text-align: center;
}

th {
    background-color: #4d76a5;
    color: white;
    padding: 12px;
    font-size: 1.1rem;
}

td {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}

table tr:nth-child(4) {
    background-color: #ffe0b2; /* laranja claro */
}

table tr:nth-child(3) {
    background-color: #c9c9c9; /* cinza claro */
}

input[type="number"] {
    padding: 4px;
    width: 80%;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

input[type="number"]:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 4px #4a90e280;
}

.resultado {
    font-weight: bold;
    color: #2c3e50;
    font-size: 1.2rem;
}

.explicacao {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    flex-wrap: wrap; /* empilha em telas pequenas */
}

.explicacao img {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.texto-explicativo {
    max-width: 500px;
    font-family: 'Segoe UI', sans-serif;
    color: #333;
}

.texto-explicativo h2 {
    margin-bottom: 10px;
    color: #1976d2;
}